/* Banner (transitions) */

	.banner.onload-content-fade-right .content {
		-moz-transition: none;
		-webkit-transition: none;
		-ms-transition: none;
		transition: none;
	}

	body.is-preload .banner.onload-content-fade-right .content {
		-moz-transform: none;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		opacity: 1;
	}

	.banner.onload-image-fade-in .image img {
		-moz-transition: none;
		-webkit-transition: none;
		-ms-transition: none;
		transition: none;
	}

	body.is-preload .banner.onload-image-fade-in .image img {
		opacity: 1;
	}